.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #0000cc;
    height: 50px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}

.submitButton {
    padding: 15px;
    margin-left: 60px;
    background: #0000cc;
    color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-weight: 500;
    font-size: 12pt;
    cursor: pointer;

}

input[placeholder="File description"] {
    width: 90%;
    box-sizing: border-box;
    border: 4px solid #ccc;
    align-content: center;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: contain;
    background-color: inherit;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#upload {
    background: white;
    height: 60%;
    width: 70%;
}

img {
    width: 100%;
    height: 100%;
}

#container {
    display: table;
}

#row {
    display: table-row;
}

#container1 {
    display: table;
    width: 100%;
}

#row1 {
    display: table-row;
    width: 100%;
}

#left, #right {
    display: table-cell;
    width: 50%;

}

.fileInput {
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    background: #0000cc;
    color: white;
}

.modal {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 40%;
    z-index: 1;
    line-height: 60px;
    display: none;
    background-color: #efefef;
}

.modal h2 {
    color: white;
}

.modal_close {
    position: absolute;
    top: 40px;
    right: 20px;
    line-height: 1.4;
    cursor: pointer;
    background-color: #0000cc;
    color: white;
    padding: 0 0px;
}

.modal--show {
    display: block;
}
